/* Base css sheet. In vue, generally components control their own styling,
   so this is used for the elements 'outside' the vue app. Usually it's the just
   these two elements, which are found on index.html. CSS that we want applied 
   everywhere is also usually found here. */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 24px;
	padding: 24px;
}

body {
	min-height: 100vh;
}
